html, body {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 50px;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

/* fix bs3 horizontal scrollbar bug */
.row {
	margin: 0;
	padding: 0
}

#container-main {
	padding-top:20px;
}

footer ul {
	list-style:none;
}

footer ul li {
	display:inline-block;
}
